.jumbotron{
    text-align: center;
    font-family: 'Oswald';
}

.form{
    text-align: center;
    font-family: 'Roboto'
}

.pick{
    text-align: center;
    font-family: 'Roboto';
    padding-top: 2em
}