<!DOCTYPE html>{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link href="../assets/css/bootplus.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>

    <title>My Page</title>

    <link rel="stylesheet" type="text/css" href="{% static 'this_page_style.css' %}"/>


</head>
<body>
    <div class="jumbotron">
        <h1>Maggie's HMC March Madness Challenge</h1>
    </div>

    <div class="form">
        <form action"." method="get">
            {% for field in form %}
            Pick your team:{{ field }}
            {% endfor %}
            <input type="submit" value="Submit" />
        </form>
    </div>

    <div class="pick">
        {% if pick != None %}
            <h3>You should pick: <strong>{{ pick }}</strong></h3>
        {% endif %}
    </div>

    <div class="basketball_picture">
        <a title="By Reisio (Own work) [Public domain], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File%3ABasketball.png"><img width="128" alt="Basketball" src="//upload.wikimedia.org/wikipedia/commons/7/7a/Basketball.png"/></a>
    </div>

    <div class="description">
        <h5>What's going on here?</h5>
        <p>This app compares the two teams by looking at 5 factors: seed, experience, away game rating, steals and offensive rebounds.</p>
    </div>
</body>
</html>